@font-face {
    font-family: 'Circe';
    src: url('fontes/Circe/Circe-Bold.otf') format('opentype');
}
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 1000*/
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


body{
    background-color: #f4f4f4;
    height: 100vh;
}

h1{
    font-family: Circe, sans-serif;
    text-shadow: 1px 1px 5px #d9d9d9;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgMaterial{
    width: 45px;
}

.contImgMaterial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtro:hover{
    background-color: #e8e8e8;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.pesquisa{
    display: flex;
    justify-content: end;
}

#nav-definicao-tab{
    border-bottom: #f4f4f4;
}

#nav-origem-tab{
    border-bottom: #f4f4f4;
}

#nav-descartar-tab{
    border-bottom: #f4f4f4;
}

#nav-alternativas-tab{
    border-bottom: #f4f4f4;
}

/*Card de ideias*/
.ideias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.card-content{
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-text{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.img-card{
    padding: 0%;
}

/*Estrela */    
.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffc30f;
    transition: color 0.3s;
}

.dificuldade{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.dificuldade-facil{
    background-color: green;
}
.dificuldade-media{
    background-color: #ffec15;
}
.dificuldade-facil{
    background-color: red;
}
  