#sub-titulo{
    font-size: 20px;
}

.c-inicio{
    width: 60%;
}

.c-corpo{
    width: 80%;
}

/* Container inicial */
.topico{
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avaliacao{
    display: flex;
    align-items: center;
}

.dif{
    display: flex;
    gap: 1vw;
    align-items: center;
}

/*Início do Carrosel*/

.cards-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-wrapper > .card{
    height: 13em;
    text-align: center;
    box-shadow: none;
}

.cards-wrapper > .card > .card-body{
    height: 2em;

}

/* Descrição */
.descricoes{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topico2{
    background-color: #d9d9d9;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 18px;
    display: flexbox;
    align-items: center;
}

.sec-desc{
    margin-top: 5px;
    margin-left: 10px;
}

/* Outras publicações */
.outras-ideias{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.novaIdeia{
    font-size: 14px;
    flex-direction: row;
    width: 100%;
}
