/*Container conta*/
.container-conta{
    background-color: #d9d9d9;
    border-radius: 15px;
}
.col-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
    
    /* Coluna -> Foto perfil e dados */
    /* Foto perfil */
        .img-perfil{
            height: 150px;
            width:150px;    
        }

        /* Button Follow */
        .btn-follow {
            width: 100%;
            background-color: #3a7d44;
            border: 2px solid #3a7d44;
            border-radius: 34px;
            background-color: transparent;
        }

        .btn-follow::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            border-radius: inherit;
            scale: 0;
            z-index: -1;
            background-color: #3a7d44;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }
                
        .btn-follow:hover::before {
            scale: 1;
        }

        .btn-follow:hover {
            color: #f4f4f4;
            font-weight: bold;
            scale: 1.05;
            box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
        }

        .btn-follow:active {
            scale: 1;
        }

        /* Button Share */
        .btn-share {
            width: 100%;
            background-color: #555555;
            border: 2px solid #555555;
            border-radius: 34px;
            background-color: transparent;
        }

        .btn-share::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            border-radius: inherit;
            scale: 0;
            z-index: -1;
            background-color: #555555;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }
                
        .btn-share:hover::before {
            scale: 1;
        }

        .btn-share:hover {
            color: #f4f4f4;
            font-weight: bold;
            scale: 1.05;
            box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
        }

        .btn-share:active{
            scale: 1;
        }

        /* Dados */
        .col-dados{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
        }
        .nome-user{
            font-weight: bolder;
            font-size: 2rem;
            text-align: center;
        }
        .txt-bio{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .row-topico{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 15px;
        }
        .topico{
            font-size: 16px;
            font-weight: bold;
        }
        .reputacao{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        .rating-user label{
            text-shadow: 1px 1px 3px #aaa;
            color: #adadad;
        }

    /* Coluna -> Background */
    .back{
        width: 100%;
        height: 100%;
        background-color: gray;
        border-radius: 20px;
    }
/* Fim do Container Conta */

/* Container Publicações */
.linha{
    border-bottom: 1px solid #ada7ad;
}

/* Fim do container publicações */

.selo-melhor-ideia{
    width: 100px;
    position: absolute;
    z-index: 1;
    left: -50px;
    top: -30px;
}

.selo-melhor-ideia-sm{
    width: 100px;
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -20px;
}

.cont-ideias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Avaliação */
input[type='radio'] + label{
    cursor: auto;
}

/*Modal */

.w-100{
    width: 100%;
}

.center4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body > form{
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20%;
}

#ft{
    width: 128px;
}

.form-label{
    font-size: 16px;
}

@media screen and (min-width: 250px) and (max-width: 380px) {

    .modal-body > form{
        padding-left: 0;
        padding-right: 0;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1%;
    }
}

@media screen and (min-width: 381px) and (max-width: 575px) {

    .modal-body > form{
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 10%;
    }
}


/* Media Query */
@media screen and (min-width: 240px) and (max-width: 312px) {
    .txt-c{
        text-align: center;
    }
    .selo-melhor-ideia-sm{
        width: 80px;
    }
}

.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ver-mais{
    font-weight: bold;
    color: #3a7d44;
    cursor: pointer;
}

.postar{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #3a7d44;
    color: #f4f4f4;
    position: sticky;
    bottom: 50px;
    left: 92%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

@media screen and (min-width: 240px) and (max-width: 575px){
    .postar{
        width: 50px;
        height: 50px;
        font-size: 24px;
        left: 82%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .postar{
        width: 60px;
        height: 60px;
        font-size: 30px;
        left: 88%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .postar{
        width: 70px;
        height: 70px;
        font-size: 35px;
        left: 90%;
    }
}