/*Rodapé */
.menu{
    background-color: #3b5364;
}
.logo{
    width: 200px;
}
.logoCamp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha{
    border-bottom: 1px solid black;
}
.icones{
    display: flex;
    justify-content: space-around;
}
.mobile{
    width: 130px;
}
